.logo {
  height: 32px;
  margin: 16px;
  border-bottom: 1px solid #c0c0c0;
}

.admin-container {
  padding: 20px 40px;
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}