@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

$primary: #0c2e60;
$secondary: #ff663b;

.logo {
  height: 40px;
  margin: 16px;
  border-bottom: 1px solid #c0c0c0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.admin-container {
  padding: 20px 40px;

  @media screen and (min-width:0) and (max-width:767px) {
    padding: 20px;
  }
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width:0) and (max-width:500px) {
    justify-content: center;
  }
}

.card-actions {
  position: absolute;
  right: 14px;

  a, span {
    font-size: 15px;
    cursor: pointer;
    color: $primary;
    margin-right: 10px;

    i {
      margin-left: 5px;
    }
  }
}

.ant-menu-item a {
  display: inline-block;
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon + a {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}

.ant-menu-item .anticon + a {
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}