@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

$primary: #0c2e60;
$secondary: #ff663b;
$fontPrimary: 'Martel Sans';

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c0c0c0;
}

a {
  color: $primary !important;
  font-family: $fontPrimary;
}

h1, h2, h3, h4 {
  font-family: $fontPrimary;
}

.title {
  color: $primary;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 30px;
  border-bottom: 2px solid #c8c8c8;
  margin-bottom: 30px;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-select-selection, .ant-input {
  border-radius: 10px;
}

.layout {
  min-height: 100vh;

  @media screen and (min-width: 0px) and (max-width: 720px) {
    height: auto;
  }
}

.App {
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
  background-color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 90vw;
  padding: 30px 0;
}

.ant-row {
  width: 100%;
}

.login-form-register {
  font-family: $fontPrimary;
  font-weight: 700;
  margin-bottom: 20px;
}

.login-box-footer {
  border-top: 1px solid #e9e9e9;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $fontPrimary;

  ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 5px;

    li {
      margin: 0 10px;
      font-size: 15px;
    }
  }
}

.has-error .ant-form-explain {
  margin-top: 5px;
}

.header {
  background: #fff;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;

    ul {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    li {
      font-family: $fontPrimary;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      padding: 10px;
      transition: .5s;

      &.currentUser {
        text-transform: lowercase;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.banner {
  height: calc(100vh - 65px);
  width: 100%;
  position: relative;
  overflow: hidden;

  @media screen and (min-width:0) and (max-width:600px) {
    display: flex;
    justify-content: center;
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 10px);
  }

  .illustration {
    width: 500px;
    left: 10%;
    position: absolute;
    bottom: 10vh;
    z-index: 1;

    @media screen and (min-width:0) and (max-width:600px) {
      width: 220px;
      bottom: 15vh;
      z-index: 0;
    }

    @media screen and (min-width:600px) and (max-width:991px) {
      width: 300px;
    }
  }

  .banner-text {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 40%;
    text-align: right;

    @media screen and (min-width:0) and (max-width:600px) {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      position: relative;
      right: unset;
      top: unset;
    }

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 0;
      color: $secondary;

      @media screen and (min-width:0) and (max-width:600px) { font-size: 36px; }
    }

    p {
      font-size: 16px;
      font-family: $fontPrimary;
      color: $primary;
    }
  }
}

.page-home {
  padding: 20px 0;
}

.quick-post {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
}

.quick-post-header {
  border-bottom: 1px solid #eaeaf5;
  padding: 0 25px;

  .ant-tabs-nav {
    width: 100%;
    font-family: $fontPrimary;
  }

  .ant-tabs-nav .ant-tabs-tab {
    width: 50%;
    text-align: center;
    margin: 0;
  }
}

.quick-post-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  button {
    width: 100px;
    height: 40px;
    padding: 0;
  }
}

.group-floating-label {
  position: relative;
  margin-bottom: 30px !important;

  .input-control {
    .ant-input {
      display: block;
      width: 100%;
      line-height: 1.25;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out 15s;
      box-shadow: none;
      padding: 0 10px;
      font-family: $fontPrimary;

      &.ant-input-disabled {
        background-color: rgba(245, 245, 245, 0.36);
        color: rgba(0, 0, 0, 0.36);
      }

      &:focus, &:hover {
        box-shadow: none;
        border-color: #4285f4;
      }

      &::-webkit-input-placeholder {
        color: #fff;

      }

      &::-moz-placeholder {
        color: #fff;
      }

      &:-ms-input-placeholder {
        color: #fff;
      }

      &:focus + .ant-input-suffix, &:not(:placeholder-shown) + .ant-input-suffix {
        .floating-label {
          font-size: 85%;
          transform: translate3d(0, -25px, 0);
          color: rgba(0, 0, 0, .7);
          padding: 0 10px;
          font-family: $fontPrimary;
        }
      }
    }

    &.show-placeholder {
      .ant-input {
        &:focus {
          &::-webkit-input-placeholder {
            color: #ccc;
          }

          &::-moz-placeholder {
            color: #ccc;
          }

          &:-ms-input-placeholder {
            color: #ccc;
          }
        }
      }
    }
  }

  &.input-prefix {
    .prefix {
      display: inline-block;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      padding: 5px 10px;
      line-height: 10px;
      margin-right: 20px;
      position: absolute;
      left: 0;
      top: 4px;
      text-align: center;
      z-index: 9;
      color: rgba(0, 0, 0, 0.65);
    }

    .input-control {
      .ant-input {
        padding-left: 70px;
      }
    }

    .ant-input-suffix {
      .floating-label {
        padding-left: 70px;
      }
    }

    .ant-input-prefix {
      left: 0;
      top: 0;
    }
  }

  .ant-input-suffix {
    left: 0;
    right: 0;
    top: 0;

    .floating-label {
      position: absolute !important;
      top: 0;
      padding: 0px;
      transition: all 200ms;
      color: rgba(0, 0, 0, 0.5);
      line-height: 30px;
      transform: translate3d(0, 0, 0);
      padding: 0 10px;
      font-family: $fontPrimary;
    }
  }

  .has-error {
    .ant-input {
      box-shadow: none !important;
    }

    .input-control {
      .ant-input {
        border-bottom: 2px solid red;
      }
    }
  }

  .ant-form-explain {
    margin-bottom: 0px;

    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
  }

  .suffix-right {
    position: absolute;
    right: 0;
    top: 3px;
    cursor: pointer;
  }

  &.default-floated {
    .floating-label {
      transform: translate3d(0, -25px, 0) !important;
      padding-left: 0 !important;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .remove-item {
    cursor: pointer;
    margin-left: 15px;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}

.add-item {
  font-size: 13px;
  cursor: pointer;
}

.ant-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}

.feed-profile-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;

  span.nickname {
    margin-left: 10px;
    font-weight: 700;
  }
}

.swal-modal {
  border-radius: 12px;
  font-family: $fontPrimary;
}

.feed-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .feed-card-name {
    display: flex;
    align-items: center;

    .name {
      margin-left: 5px;
      font-size: 12px;
    }
  }

  .ant-badge sup {
    font-size: 10px;
  }
}

.feed-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  padding-top: 15px;

  .due-date {
    font-size: 10px;
  }

  i {
    margin-left: 10px;
  }
}